<div class="container bg">
    <div class="row">
        <div class="aboutUS">
            <img src="../../images/main/user.png"><span>
            关于我们
        </span>
        </div>
        <div class="about-content ">
            <div class="sidebar ft-size" >
                <p><a  class="content-active" data-ui-sref="main.about">关于我们</a></p>
                <div class="line"></div>
                <p><a  data-ui-sref="main.contact">联系我们</a></p>
            </div>
            <div class="content-left row">
                <h3 class="title">公司介绍</h3>
                <div class="col-sm-6 padd-trbl-39-133-10 ">
                    <span class="pd-right-10">六个月后获得俞敏洪老师旗下的洪泰基金A轮投资</span>
                    <p class="circleParent">
                        <i class="circle top-33"></i>
                        <i class="circle top-123"></i>
                        <i class="circle top-215"></i>
                    </p>
                </div>
                <div class="col-sm-6 pd-tb39-lr10">
                    <p class="mgn-top-33px ft-size-14px">成立伊始即获得著名投资人王刚的天使轮投资</p>

                    <p class="mgn-top-166px ft-size-14px">现在，我们拥有了北京运营公司、南京产品中心、苏州研发中心</p>
                </div>
                <p class="col-md-12 ft-size-14px color-73b2fd pd-left-57px">南京逗你学信息科技有限公司致力于生产优质的在线教育原创内容</p>
                <p class="col-md-12 ft-size-14px indent pd-b-54px">
                    公司已经初步形成了覆盖学前阶段的亲子游戏“一叶长大”、小学阶段教辅工具应用“回家学习”及中学阶段教材视频化“学渣乐园”的产品集簇。其中上线产品“学渣乐园”系网易公开课首个引进的国产初高中系列课程，开启了趣味微视频教学时代。
                </p>
            </div>
        </div>
    </div>
</div>
<!--进入页面跳转到顶部-->
<script>
    window.scrollTo(0, 0);
</script>