<div class="container bg">
    <div class="row">
        <div class="aboutUS">
            <img src="../../images/main/user.png"><span>
            联系我们
        </span>
        </div>
        <div class="about-content ">
            <div class="sidebar ft-size">
                <p><a data-ui-sref="main.about">关于我们</a></p>
                <div class="line"></div>
                <p><a class="content-active" data-ui-sref="main.contact">联系我们</a></p>
            </div>
            <div class="content-left">
                <h3 class="title height-46px"></h3>
                <div class="mgn-left-67">
                    <p class="color-3e3e3e" style="color: #3e3e3e; margin-top: 34px;">南京逗你学信息科技有限公司</p>
                    <p><span>商务合作：</span><span class="color-8ac0ff">sr@dounixue.net</span></p>
                    <p><span>客服邮箱：</span><span class="color-8ac0ff">cjt@dounixue.net</span></p>
                    <p><span>官方微博：</span><span class="color-8ac0ff">http://weibo.com/u/5668262741</span></p>
                    <p>客服热线：400-001-6698（工作日9：30-5：30）</p>
                    <p>地址：南京市雨花台区绿都大道4号绿地之窗商务广场C-2幢410</p>
                    <!--<p>关注我们-->
                        <!--<a class="mgn-left-18px"><img src="../../images/main/aboutWeixin.png"> </a>-->
                        <!--<a class="mgn-left-18px"><img src="../../images/main/aboutQQ.png"> </a>-->
                        <!--<a class="mgn-left-18px"><img src="../../images/main/aboutWeibo.png"> </a>-->
                        <!--<a class="mgn-left-18px"><img src="../../images/main/aboutTao.png"> </a>-->
                    <!--</p>-->
                    <ul class="concernUS"> <span style="color: #838383">关注我们</span>
                        <li class="weixin">
                            <a class="mgn-left-18px "><img src="../../images/main/aboutWeixin.png"></a>
                            <div class="showWeixin">
                                <img  src="../../images/main/SubscriptionNumber.png">
                            </div>
                        </li>
                        <li class="qq">
                            <a class="mgn-left-18px"><img src="../../images/main/aboutQQ.png"> </a>
                            <div class="showqq">
                                <img class="showqq-width"  src="../../images/main/showQQm.png">
                            </div>
                        </li>
                        <li >
                            <a target="_blank" href="http://weibo.com/u/5668262741?refer_flag=1001030101_ " class="mgn-left-18px"><img src="../../images/main/aboutWeibo.png"> </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://shop129403628.taobao.com/?spm=a230r.7195193.1997079397.2.6Wz61H" class="mgn-left-18px"><img src="../../images/main/aboutTao.png"> </a>
                        </li>
                    </ul>
                    <p class="mar-b-43 ">
                        <img src="../../images/main/aboutMap.jpg">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--进入页面跳转到顶部-->
<script>
    window.scrollTo(0, 0);
</script>