<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=750px,user-scalable=no">
</head>
<body >

<div class="share_wrap" style="zoom: 1.26;min-height: 100vh;">
     <div style="display: flex">
         <div style="max-width: 100%">
         <img style="max-width: 100%" src="images/share.jpg">
         </div>
     </div>
    <div class="heg">
     <div class="share_content">
         <p class="ft-size-32">我正在“逗你学app”上用最小的力气学习，你也快来吧！</p>
         <p class="ft-size-32 mar-top-45">每天只花5分钟，看有趣又好记的学习视频，每天都能进步一点点，每天都在变优秀！</p>
         <p class="mar-top-100 font-size-72"><span>有趣</span> <span>有料</span> <span>有干货</span></p>
         <p class=" share_center mar-top-60">
             <img src="images/shareBottom.png">
         </p>
         <p class="mar-top-15 share_center">
             <button class="btn-app" type="button" ng-click="vm.goToApp()">下载应用</button>
         </p>
     </div>
    </div>
</div>
</body>
</html>