<!--填空题-->
<div class="fill-in">
    <div class="fillin-header">
        <p class="exp">练习：数量少</p>
        <p class="collection">收藏</p>
        <img  src="../images/subject&course/course5.png">
    </div>
    <div class="fillin-title">
        complete the word according of the picture
    </div>
    <img class="fillin-img" ng-src="">
    <div class="fillin-content">
        here's a mac for you
    </div>
    <div class="fillin-hint">
        hello world
    </div>
    <input type="button" value="提交"/>
</div>