<!--视频播放-->
<div class="flash" ng-if="vm.data.data.taskType == 1 ">
    <div class="flash-head" id="header" ng-if="vm.flag != true">
        <img src="../images/subject&course/course4.png " ng-click="vm.hideHeader() ">
        <p class="head-button-right " ng-click="vm.load() ">登陆</p>
        <p class="head-button-right " ng-click="vm.register() ">注册</p>
        <p class="flash-head-warn ">登陆用户可以进行学习进度收藏啦~</p>
    </div>

    <div class="flash-title ">
        <p class="exp" ng-bind="vm.data.data.taskName"></p>
        <p class="collection ">收藏</p>
        <img src="../images/subject&course/course5.png " ng-if="vm.collectionStatus==2 || vm.collectionStatus== undefined " ng-click="vm.changeCollection() ">
        <img src="../images/subject&course/course6.png " ng-if="vm.collectionStatus==1 " ng-click="vm.changeCollection() ">

    </div>

    <div ng-repeat="li in vm.data.unitList ">
        <div class="flash-text " ng-bind="li.textContent " ng-if="li.mediaType==2 "></div>
        <!--安全机制需要解决视频链接被拦截的问题-->
        <!--黑色背景充当画布-->
        <div class="flash-content " ng-if="li.mediaType==5 ">
            <video class="video-size " controls>
                <source ng-src="{{vm.trust(li)}} " type="video/mp4 ">

            </video>
            <div class="openvip" ng-if="vm.isLock == 1 && vm.vip !=1 ">
                <img src="../images/subject&course/ismember.png">
                <div class="open" ng-click="vm.openvip()">开通会员</div>
            </div>
        </div>

    </div>
</div>