<div class="shade-black" ng-show='!announcement'>
  <div class="announcement">
    <img class="announcement-cancle" ng-click='announcement=true' src="../../../images/close_06.png">
    <div>
      <p style="padding-top:29px">1.本乐园页面建议竖屏观看，横屏会发生错乱;</p>
      <p>2.在“树洞”和“宿舍”中的留言不得涉及不和谐的内容，一经发现立即删除；</p>
      <p>3.乐园中的逆袭豆可通过签到和绑定手机或者邮箱获得，后期可兑换一些未知商品；</p>
      <p>4.乐园地图上有很多可以点击的地方，大家可以多多发掘，一些未开垦的荒地请耐心等待。</p>
      <div class="announcement-select">
        <div ng-click='checkAnnouncement()'><img src="../../../images/nike.png" ng-show='!!announcementSelect' alt=""></div>
        <span>知道啦，不再提醒</span>
      </div>
    </div>
  </div>

</div>
