<div class="changePassword-wrapper">
<div class="modal-header">
    <div class="pointer close-model" ng-click="vm.cancel()"><img src="images/remove.jpg" alt=""></div>
</div>
<div class="modal-body" id="modal-body">

<div class="title title-change" ng-if="vm.change"><div class="title-content" ng-bind="vm.title"></div></div>
 <div class="title" ng-if="!vm.change"><div class="title-content" ng-bind="vm.title"></div></div>

 <div class="account old-password register-row" ng-if="vm.change">
 <div class="left">原密码</div>
 <div class="center"><input type="text" class="form-control" placeholder="请输入您的密码"></div>
 <div class="right"></div>
 </div>
 <div class="account new-password register-row">
 <div class="left">新密码</div>
 <div class="center"><input type="text" class="form-control" placeholder="请输入由字母或数字组成的6-16位密码"></div>
 <div class="right"></div>
 </div>
 <div class="account confirm-password register-row">
 <div class="left">确认密码</div>
 <div class="center"><input type="text" class="form-control" placeholder="请再次输入密码"></div>
 <div class="right"></div>
 </div>

 <div class="button-wrapper register-row" ng-if="!vm.change"><div class="left"></div><div class="center"><button ng-click="vm.bind()" class="btn">立即修改</button></div><div class="right"></div>
 </div>

 <div class="button-wrapper register-row button-wrapper-change" ng-if="vm.change"><div class="left"></div><div class="center"><button ng-click="vm.bind()" class="btn">完成</button></div><div class="right"></div>
 </div>
 
</div>
</div>