<div class="changePhoneNumber-wrapper">
<div class="modal-header">
    <div class="pointer close-model" ng-click="vm.cancel()"><img src="images/remove.jpg" alt=""></div>
</div>
<div class="modal-body" id="modal-body">

 <div class="title">更换手机号</div>
 <div class="step register-row">
 	<div class="left"></div>
 	<div class="center">
 	<img ng-if="!vm.step2" src="images/forgetStep3.png" alt="">
 	<img ng-if="vm.step2" src="images/forgetStep4.png" alt="">
 	<div class="step-text-left-phone">验证手机号</div>
 	<div class="step-text-right-phone">绑定新手机</div>
 	</div>
 	<div class="right"></div>
 </div>


 <div class="account register-row" ng-if="!vm.step2">
 <div class="left">原手机号</div>
 <div class="center"><input type="text" class="form-control" placeholder="请输入注册时的手机号"></div>
 <div class="right"></div>
 </div>
 <div class="phone-code register-row" ng-if="!vm.step2">
 <div class="left">验证码</div>
 <div class="center"><input type="text" class="form-control" placeholder="请输入收到的验证码"><button class="btn">获取验证码</button></div>
 <div class="right"></div>
 </div>

<!-- 修改密码界面 -->
<div class="account register-row" ng-if="vm.step2">
<div class="left">新手机号</div>
<div class="center"><input type="text" class="form-control" placeholder="请输入注册时的手机号"></div>
<div class="right"></div>
</div>
<div class="phone-code register-row" ng-if="vm.step2">
<div class="left">验证码</div>
<div class="center"><input type="text" class="form-control" placeholder="请输入收到的验证码"><button class="btn">获取验证码</button></div>
<div class="right"></div>
</div>

 <div class="register-row voice">
 <div class="left"></div>
 <div class="center">收不到短信？试试<span class="font-blue pointer">语音验证</span></div>
 <div class="right"></div>
 </div>

<!--  <div class="register-row voice" ng-if="vm.step2">
 <div class="left"></div>
 <div class="center"></div>
 <div class="right"></div>
 </div> -->

 <div ng-if="!vm.step2" class="button-wrapper register-row"><div class="left"></div><div class="center"><button ng-click="vm.next()" class="btn">下一步</button></div><div class="right"></div>
 <!-- 客服电话 -->
 <div class="tips f14">如需更换手机号，请呼叫客服大白：<span class="font-blue pointer">400-001-6698 </span></div>
 </div>

 <div ng-if="vm.step2" class="button-wrapper register-row"><div class="left"></div><div class="center"><button ng-click="vm.ok()" class="btn">完成</button></div><div class="right"></div></div>
</div>
</div>