<div id="wrapper">
    <!-- nav -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">学渣乐园管理系统</a>
        </div>

        <!-- ptteng-user info -->
        <user></user>

        <!-- ptteng-sidebar -->
        <sidebar></sidebar>

    </nav>

    <!-- main contentManage -->
    <div id="page-wrapper">
            <!--上传-->

        <ui-view></ui-view>
            <ui-view='test'></ui-view>
    </div>
</div>