<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Notification</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                弹出框
            </div>
            <div class="panel-body">
                <p>
                    <button type="button" class="btn btn-default" ng-click="alert('test alert')">Alert</button>
                    <button type="button" class="btn btn-default btn-primary" ng-click="confirm('test confirm')">
                        confirm
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>