<div class="row pd-top-2 ng-scope pd-left-15 pd-right-15">
    <div class="panel panel-default">
        <div class="panel-heading contentManage-header">
            <strong>
                参数设置</strong>
        </div>
        <div class="panel-body">

            <div class="row pd-top-2 ng-scope pd-left-15 pd-right-15">
                <div class="panel panel-default">
                    <div class="panel-heading contentManage-header">
                        <strong style="border-left:2px solid red;padding-left: 1em">微信客服管理</strong>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary btn-xs" ui-sref="field.wechateService">
                                <i class="fa fa-plus-square fa-fw"></i>编辑
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="pd-50">
                            <p class="pd-left-56">
                                客服微信<span class="pd-left-15" ng-bind=" vm.kefuweixin"></span>
                            </p>
                            <p class="pd-top-2">
                                会员专属客服微信<span class="pd-left-15" ng-bind="vm.huiyuanweixin"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pd-top-2 ng-scope pd-left-15 pd-right-15">
                <div class="panel panel-default">
                    <div class="panel-heading contentManage-header">
                        <strong style="border-left:2px solid red;padding-left: 1em">
                            邀请注册赠送会员管理</strong>
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary btn-xs" ui-sref="field.inviteRegist">
                                <i class="fa fa-plus-square fa-fw"></i>编辑
                            </button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="pd-50">
                            <p class="pd-left-28">
                                赠送会员天数<span class="pd-left-15" ng-bind="vm.huiyuantianshu"></span>天
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>