

<div class="row pd-top-2 ng-scope pd-left-15 pd-right-15">
    <div class="panel panel-default">
        <div class="panel-heading contentManage-header ">
            <strong style="border-left:2px solid red;padding-left: 1em">
                微信客服管理</strong>
        </div>
        <form class="form-horizontal padding-top-20 " name="weChatForm" novalidate>
            <div class="form-group mr0-ml0">
                <div class="col-md-12 search-btn text-left margin-top-50 padding-left-20">
                    <label class="col-md-2 col-xs-12 control-label pd-right-0">客服微信</label>
                    <div class="col-md-3">
                        <input type="text" name="normalWechart" class="form-control" ng-model="vm.qwe"  placeholder="请输入客服微信" required>
                    </div>
                </div>

                <div class="col-md-12 search-btn text-left margin-top-50 padding-left-20">
                    <label class="col-md-2 col-xs-12 control-label pd-right-0">会员专属客服微信</label>
                    <div class="col-md-3">
                        <input type="text" name="vipWechart" class="form-control"  ng-model="vm.asd"  placeholder="请输入会员专属客服微信" required>
                    </div>
                </div>

                <div class="col-md-12 search-btn text-left margin-top-50 padding-left-20">
                    <div class="col-md-offset-2 padding-left-20">
                        <button type="button" class="btn btn-success margin-right-10" ng-click="vm.clickSaveWxService()"  ng-disabled="weChatForm.$invalid">保存</button>
                        <button type="button" class="btn btn-default " onClick="javascript :history.go(-1)">取消</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>