<div class="forgetPassword-wrapper">
    <div class="pointer close-model" ng-click="vm.cancel()"><img src="images/remove.png" class="close-img" alt=""></div>
    <div class="modal-body" id="modal-body">
        <div class="title">找回密码</div>
        <div class="step register-row">
            <div class="center" ng-if="!vm.step2">
                <img src="images/forgetStep1.png" alt="">
                <div class="step-text-left" style="left: 56px;">验证账号</div>
                <div class="step-text-right" style="right: 57px;">重置密码</div>
            </div>
            <div class="center" ng-if="vm.step2">
                <img src="images/found4.png" alt="">
                <div class="step-text-left" style="left:54px;">验证账号</div>
                <div class="step-text-right" style="right:50px;">重置密码</div>
            </div>
        </div>
        <form name="forget" novalidate ng-if="!vm.step2">
            <div class="left1">账号</div>
            <div class="account register-row" ng-if="!vm.step2">
                <div class="center">
                    <input ng-model="vm.name" ng-blur="vm.accountVerify=true;vm.nameChange=true" ng-focus="vm.accountVerify=false" ng-class="{'red-border':(forget.name.$invalid||vm.checkNameResult)&&(forget.name.$touched||forget.$submitted)&&(vm.accountVerify)}" placeholder="请输入注册时的手机号码/邮箱" class="form-control" type="text" name="name" required ng-pattern="/(^1[34578]\d{9}$)|(^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$)/" onkeyup="this.value=this.value.replace(' ','')">
                </div>
            </div>
            <div class="left1">验证码</div>
            <div class="phone-code register-row" ng-if="!vm.step2">
                <div class="center">
                    <input type="text" maxlength="6" ng-model="vm.params.verify" name="code" ng-blur="vm.isPsword=true" ng-focus="vm.isPsword=false" ng-class="{'red-border':(forget.code.$invalid)&&(forget.code.$touched||vm.nextButton)&&(vm.isPsword)}" required ng-pattern="/^\d{6}$/" class="form-control" placeholder="请输入收到的验证码">
                    <button ng-show="!vm.getcode" ng-click="vm.getCode(!forget.name.$invalid)" class="btn" ng-bind="vm.getTips" type="button">获取验证码</button>
                    <button style="background: #EBEBEB;color: #555555;padding: 0;border:none;opacity: 1!important;-msz-border-shadow: none; box-shadow:none" type="button" class="btn btn-default btn-lg active" ng-show="vm.getcode" ng-bind="vm.time" ng-disabled="vm.canClick"></button>
                </div>
            </div>
            <div class="register-row voice" ng-if="vm.params.mobile>0 && vm.voice && !vm.nameChange">
                <div class="center" ng-if="vm.params.mobile>0 && vm.getCode && !vm.nameChange">收不到短信？试试<span ng-class="{true:'VoiceGai'}[vm.getcode]" ng-disabled="vm.canClick" class="font-blue pointer" ng-click="vm.getVoice((!forget.name.$invalid)&&(!vm.checkNameResult))">&nbsp;语音验证</span></div>
            </div>
            <div ng-if="!vm.step2" class="button-wrapper register-row">
                <!-- <div class="left"></div> -->
                <div class="center">
                    <button ng-click="vm.doubleClick||vm.next((!forget.$invalid)&&(!vm.checkNameResult))" class="btn" ng-class="{true:'button-bg'}[(!forget.$invalid)&&(!vm.checkNameResult)&&(vm.isPsword)]" type="submit">下一步</button>
                </div>
            </div>
            <div class="error-box" ng-messages="forget.name.$error" ng-if="(forget.name.$touched||vm.nextButton||vm.codeButton)&&(vm.accountVerify)">
                <p ng-message="required">账号不能为空</p>
                <p ng-message="pattern">帐号格式错误，请输入邮箱或11位手机号</p>
            </div>
            <div class="error-box" ng-if="(!forget.name.$invalid)&&(vm.checkNameResult)&&(vm.accountVerify)">
                <p ng-bind="vm.else"></p>
            </div>
            <div class="error-box" ng-messages="forget.code.$error" ng-if="(forget.code.$touched||vm.nextButton)&&(vm.isPsword)">
                <p ng-message="required">验证码不能为空</p>
                <p ng-message="pattern">请输入6位数字验证码</p>
            </div>
            <div class="error-box" ng-if="vm.isPsword">
                <p ng-show="vm.codeErr">验证码错误</p>
            </div>
        </form>
        <!-- 修改密码界面 -->
        <form name="change" novalidate ng-if="vm.step2">
            <div class="left1">新密码</div>
            <div class="account register-row" ng-if="vm.step2">
                <div class="center">
                    <input ng-blur="vm.checkPassword()" ng-focus="vm.isPsword=false" ng-model="vm.password" ng-class="{'red-border':(change.password.$invalid)&&(change.password.$touched||change.$submitted)&&(vm.isPsword)}" placeholder="请输入由字母或数字组成的6-16位密码" class="form-control" type="password" name="password" required ng-pattern="/^[0-9a-zA-Z]{6,16}$/" onkeyup="this.value=this.value.replace(' ','')">
                </div>
            </div>
            <div class="left1">确认密码</div>
            <div class="affirm register-row" ng-if="vm.step2">
                <div class="center">
                    <input ng-model="vm.password2" ng-focus="vm.surePsword=false" ng-blur="vm.checkPassword2()" ng-class="{'red-border':(change.password2.$invalid)&&(change.password2.$touched||change.$submitted)&&(vm.surePsword)}" placeholder="请再次输入密码" class="form-control" type="password" name="password2" required ng-pattern="/^[0-9a-zA-Z]{6,16}$/" onkeyup="this.value=this.value.replace(' ','')" ng-change="vm.eb=false">
                </div>
            </div>
            <div ng-if="vm.step2" class="button-wrapper register-row button-wrapper2">
                <div class="center">
                    <button ng-click="vm.doubleClick||vm.ok((!change.$invalid)&&(!vm.checkPasswordResult)&&(vm.checkPassword2Result))" class="btn" ng-class="{true:'button-bg'}[(!change.$invalid)&&(!vm.checkPasswordResult)&&(vm.checkPassword2Result)]" type="submit">修改完成</button>
                </div>
            </div>
            <div class="error-box" ng-messages="change.password.$error" ng-if="(change.password.$touched||change.$submitted)&&(vm.isPsword)">
                <p ng-message="required">密码不能为空</p>
                <p ng-message="pattern">密码格式错误，请输入由字母或数字组成的6-16位密码</p>
            </div>
            <div class="error-box" ng-if="(!change.password.$invalid)&&(vm.checkPasswordResult)&&(vm.isPsword)">
                <p>新密码不能与原密码相同</p>
            </div>
            <div class="error-box" ng-messages="change.password2.$error" ng-if="(change.password2.$touched||change.$submitted)&&(vm.surePsword)">
                <p ng-message="required">密码不能为空</p>
                <p ng-message="pattern">密码格式错误，请输入由字母或数字组成的6-16位密码</p>
            </div>
            <div class="error-box" ng-if="(!change.password2.$invalid)&&(vm.eb)&&(vm.surePsword)">
                <p>两次密码输入不一致</p>
            </div>
        </form>
    </div>
</div>