@charset "utf-8";
//设置密码或者更改密码模态框样式
.changePassword-wrapper{
	width:709px;
	height:auto;
	.modal-header{
		height: 40px;
	}
	input{
		height: 53px;
	}
	.modal-body{
		height: auto;
		display: flex;
		>div{
			height: 53px;
			margin-bottom: 15px;
		}
	.title{
		height: 70px;
		display: flex;
		justify-content: center;
		align-items:flex-start;
		.title-content{
			font-size: 16px;
			margin-top:20px;
		}
	}
	.title-change{
		height: 60px;
	.title-content{
		font-size: 16px;
		margin-top:20px;
	}
	}
	.confirm-password{
		height: 53px;
		margin-bottom:53px;
	}
	.button-wrapper{
		height: 53px;
		margin-bottom: 50px;
	}
	.button-wrapper-change{
		margin-bottom: 47px;
	}
	.button-wrapper button{
		height: 53px;
	}
	}
}
//设置密码或者更改密码模态框自适应样式
@media(max-width:768px){
	.changePassword-wrapper{
		width:310px;
		height: auto;
		.modal-body{
			height: auto;
		    padding:10px;
		    .title{
		        margin:0px;
		        height: 30px;
		    .title-content{
		    	margin-top:0px;
		    }
		    }
		    .voice{
		        margin-bottom:15px;
		    }

		}
		 .modal-body .account,.modal-body .confirm-password{
			height: auto;
			margin-bottom: 15px;
		}
		.register-row{
		    flex-direction: column;
		}
		.account,.password,.image-code-new{
		    margin-bottom: 15px;
		}
		.forget,.modal-body .button-wrapper,.modal-body .button-wrapper-phone{
		    margin-bottom: 10px;
		}
		.left{
		    width:290px;
		    justify-content: flex-start;
		}
		.center{
		    margin:0px;
		    width:290px;
		}
		.rule input{
		    height: 20px;
		}
	}
}