<div class="changePassword-wrapper">
        <div class="pointer close-model" ng-click="vm.cancel()"><img src="images/remove.png" class="close-img" alt=""></div>
    <div class="modal-body" id="modal-body">

        <div class="title title-change" ng-if="vm.change">
            <div class="title-content" ng-bind="vm.title"></div>
        </div>
        <div class="title" ng-if="!vm.change">
            <div class="title-content" ng-bind="vm.title"></div>
        </div>


        <form name="change" novalidate ng-if="vm.change">
            <div class="left1">原密码</div>
            <div class="account old-password register-row" ng-if="vm.change">
                <div class="center">
                    <input ng-model="vm.password"
                           ng-class="{'red-border':change.password.$invalid&&(change.password.$touched||change.$submitted)}"
                           placeholder="密码" class="form-control" type="password" name="password" required
                           ng-pattern="/^[0-9a-zA-Z]{6,16}$/" onkeyup="this.value=this.value.replace(' ','')">

                </div>
            </div>
            <div class="left1">新密码</div>
            <div class="account new-password register-row" ng-if="vm.change">

                <div class="center">
                    <input ng-model="vm.password2"
                           ng-class="{'red-border':change.password2.$invalid&&(change.password2.$touched||change.$submitted)}"
                           placeholder="密码" class="form-control" type="password" name="password2" required
                           ng-pattern="/^[0-9a-zA-Z]{6,16}$/" onkeyup="this.value=this.value.replace(' ','')">


                </div>
            </div>
            <div class="left1">确认密码</div>
            <div class="account confirm-password register-row" ng-if="vm.change">

                <div class="center">
                    <input ng-model="vm.password3"
                           ng-class="{'red-border':change.password3.$invalid&&(change.password3.$touched||change.$submitted)}"
                           placeholder="密码" class="form-control" type="password" name="password3" required
                           ng-pattern="/^[0-9a-zA-Z]{6,16}$/" onkeyup="this.value=this.value.replace(' ','')">
                    <div class="error-box" ng-messages="change.password.$error"
                         ng-if="change.password.$touched||change.$submitted">
                        <p ng-message="required">密码不能为空</p>
                        <p ng-if="vm.errMsg">{{vm.errMsg}}</p>
                        <p ng-message="pattern">密码格式错误，请输入由字母或数字组成的6-16位密码</p>
            </div>
            <div class="error-box" ng-messages="change.password2.$error"
                         ng-if="change.password2.$touched||change.$submitted">
                        <p ng-message="required">密码不能为空</p>
                        <p ng-message="pattern">密码格式错误，请输入由字母或数字组成的6-16位密码</p>
            </div>
            <div class="error-box" ng-messages="change.password3.$error"
                         ng-if="change.password3.$touched||change.$submitted">
                        <p ng-message="required">密码不能为空</p>
                        <p ng-message="pattern">密码格式错误，请输入由字母或数字组成的6-16位密码</p>
                    </div>
                    <div class="error-box" ng-if="(!change.password3.$invalid)&&(vm.password3!==vm.password2)">
                        <p>两次密码不一致</p>
            </div>
             <div class="error-box" ng-if="(!change.password2.$invalid)&&(vm.password2===vm.password)">
                        <p>新密码不能与原密码相同</p>
                    </div>

                </div>
            </div>
            <div class="button-wrapper register-row" ng-if="vm.change">
                <div class="center">
                    <button type="submit" ng-click="vm.doubleClick||vm.changePassword((!change.$invalid)&&(vm.password2!==vm.password)&&(vm.password3===vm.password2))"
                            class="btn" ng-class="{true:'btn-bg'}[(!change.$invalid)&&(vm.password2!==vm.password)&&(vm.password3===vm.password2)]">完成
                    </button>
                </div>
            </div>

        </form>


    </div>
</div>