<label class="col-md-1 col-xs-12 control-label" ng-bind="labelName"></label>
<div class="col-md-3 ">
    <div class="col-xs-5 pd-0-lr">
        <input type="number" class="form-control " ng-model="start" ng-change="changeNum()"
               onkeydown="if(event.keyCode==13)event.keyCode=9" onKeypress="if
((event.keyCode<48 || event.keyCode>57)) event.returnValue=false">
    </div>
    <div class="col-xs-2 control-label pd-0-lr text-center">-</div>
    <div class="pd-0 col-xs-5 pd-0-lr">
        <input type="number" class="form-control " ng-model="end" ng-blur="touched=true;changeNum(true)"  ng-class="{'border-1-red':touched&&end<start}"
               onkeydown="if(event.keyCode==13)event.keyCode=9" onKeypress="if
((event.keyCode<48 || event.keyCode>57)) event.returnValue=false">
    </div>
</div>