<div class="form-group">
    <label class="col-sm-2 control-label">{{labelName}}</label>
    <div class="col-sm-8">
        <label class="btn btn-primary" for="file">上传</label>
        <span>(上传文件在5M以内，推荐使用640*310分辨率或相同比例的图片)</span>
        <div ng-if="uploader">
            <input id="file" style="display: none" accept=".jpg,.png,.bmp" type="file"
                   nv-file-select uploader="uploader" required/>
        </div>

        <br/>
        <img ng-src="{{imgSrc}}" alt="with responsive image feature"
             class="img-responsive" style="max-height: 300px;max-width: 700px">
        <table class="table" ng-show="uploader.queue.length">
            <thead>
            <tr>
                <th width="50%">图片名</th>
                <th ng-show="uploader.isHTML5">大小</th>
                <th ng-show="uploader.isHTML5">进度</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue" class="ng-scope" ng-if="$first">
                <td><strong class="ng-binding">{{item.file.name}}</strong></td>
                <td ng-show="uploader.isHTML5" nowrap="" class="ng-binding">{{
                    item.file.size/1024/1024 | number:2 }} MB
                </td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                                                    <span ng-show="item.isSuccess"><i
                                                            class="glyphicon glyphicon-ok"></i></span>
                    <span ng-show="item.isCancel"><i
                            class="glyphicon glyphicon-ban-circle"></i></span>
                    <span ng-show="item.isError"><i
                            class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap="">
                    <button type="button" class="btn btn-success btn-xs"
                            ng-click="upload(item)"
                            ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                        <span class="glyphicon glyphicon-upload"></span> 上传
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            ng-click="item.remove(); clearImg()">
                        <span class="glyphicon glyphicon-trash"></span> 删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>