.cor-ori {
  color: #f60; }

.cl {
  clear: both; }

.middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.hand {
  cursor: pointer; }

.member header {
  width: 100%;
  height: 87px; }
.member .img, .member .img-p {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  float: left;
  font-size: 2.2rem;
  font-weight: 500;
  margin-right: .2em; }
.member .img-p {
  transform: translateY(-32%); }
.member .sidebar {
  float: left;
  margin-right: 9.4166666667%;
  margin-bottom: 10px;
  width: 16.6666666667%;
  min-width: 6em;
  border: 1px solid  #dddddd;
  background: white; }
  .member .sidebar .list {
    width: 100%;
    cursor: pointer; }
    .member .sidebar .list .list-p {
      margin: 13px 0;
      padding-left: 1em;
      font-size: 1.8rem;
      color: #545454;
      font-weight: 500;
      line-height: 56px;
      border-left: 4px solid transparent; }
    .member .sidebar .list .m-line {
      width: calc(100% - 13px);
      margin-left: 13px;
      float: left;
      height: 0;
      border-bottom: 2px solid #f4f4f4; }
    .member .sidebar .list .active {
      border-left: 4px solid #79b5fd;
      color: #79b5fd; }
  .member .sidebar .list:nth-last-child(1) {
    border-bottom: none; }
.member main {
  float: left;
  margin-bottom: 106px;
  width: 73.9166666667%;
  border: 1px solid  #dddddd;
  background: white; }
  .member main .mem-logo {
    margin: 0 2%;
    padding-left: 1.5em;
    width: 96%;
    height: 46px;
    font-size: 1.8rem;
    border-bottom: 2px solid #cbcbcb; }
    .member main .mem-logo span {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-32%);
      color: #ffc600; }
    .member main .mem-logo img {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  .member main .main {
    padding: 33px 40px 40px; }
    .member main .main .introduction {
      width: 571px;
      margin-bottom: 24px;
      border: 1px solid #F4F4F4;
      border-radius: 5px; }
      .member main .main .introduction img {
        width: 100%; }
    .member main .main .price-box {
      position: relative;
      width: 100%;
      border: 1px solid #A1A1A1;
      border-radius: 5px;
      cursor: pointer; }
      .member main .main .price-box .active {
        border: 1px solid #f60 !important; }
      .member main .main .price-box img {
        border-bottom-right-radius: 5px; }
    .member main .main .price {
      float: left;
      width: 285px;
      margin-right: 60px;
      margin-bottom: 17px; }
      .member main .main .price input {
        display: none; }
    .member main .main .price-total {
      float: left;
      width: 62%;
      line-height: 121px;
      text-align: center;
      font-size: 4.2rem;
      color: #f60; }
    .member main .main .price-day {
      position: relative;
      float: left;
      padding: 29px 0;
      width: 38%;
      height: 121px;
      line-height: 30px;
      font-size: 1.8rem;
      text-align: center; }
    .member main .main .recommend {
      position: absolute;
      top: -4px;
      right: 7px; }
    .member main .main .selected {
      position: absolute;
      bottom: -1px;
      right: 0; }
    .member main .main .price-p {
      width: 100%;
      padding: 5px 0;
      line-height: 1;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      color: #545454; }
    .member main .main .pay-p {
      float: left;
      width: 100%;
      padding: 9px 0;
      line-height: 1;
      text-align: left;
      font-size: 1.6rem;
      color: #545454;
      font-weight: 700; }
    .member main .main .active {
      border: 1px solid #f60 !important; }
    .member main .main .alipay, .member main .main .wechatpay {
      position: relative;
      text-align: center;
      float: left;
      width: 200px;
      height: 57px;
      border: 1px solid #A7A7A7;
      border-radius: 5px;
      cursor: pointer; }
      .member main .main .alipay .selected, .member main .main .wechatpay .selected {
        border-bottom-right-radius: 5px; }
      .member main .main .alipay .pay, .member main .main .wechatpay .pay {
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
    .member main .main .alipay {
      margin-right: 40px; }
    .member main .main .pay-agreement {
      float: left;
      width: 100%;
      line-height: 1;
      text-align: left;
      color: #545454;
      font-weight: 700;
      position: relative;
      padding: 14px 0;
      font-size: 1.4rem; }
      .member main .main .pay-agreement a {
        outline: none;
        text-decoration: none;
        color: #73b2fd; }
      .member main .main .pay-agreement input {
        width: 14px;
        height: 14px;
        margin: 0;
        position: relative;
        top: 50%;
        transform: translateY(17%); }
      .member main .main .pay-agreement .tips {
        position: absolute;
        bottom: -5px;
        left: 0;
        font-size: 1.2rem;
        color: #ef4a24; }
    .member main .main .pay-btn {
      float: left;
      margin: 37px 0 0;
      padding: 0;
      width: 200px;
      line-height: 57px;
      font-size: 2rem;
      letter-spacing: 1px;
      background: #79B5FD; }
  .member main .card .card-input, .member main .card .psw-input {
    margin-bottom: 40px; }
  .member main .card input {
    width: 306px;
    height: 51px; }
  .member main .card label {
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: 7px;
    color: #555555; }
  .member main .card button {
    margin: -3px 0 -8px;
    width: 200px;
    height: 57px;
    font-size: 2rem;
    letter-spacing: 1px;
    color: white;
    background: #79B5FD;
    border: none; }
  .member main .card button:active {
    color: white;
    border: none;
    background: #79B5FD; }

.payHtml {
  width: 450px; }
  .payHtml .modal-header {
    padding: 0;
    background: #73b2fd;
    text-align: right; }
    .payHtml .modal-header img {
      height: 33px;
      cursor: pointer; }
  .payHtml .modal-body {
    padding: 32px 10px; }
    .payHtml .modal-body p {
      font-size: 1.6rem;
      line-height: 28px;
      text-align: center;
      color: #555555; }
  .payHtml .modal-footer {
    padding: 0 10px 10px;
    border: none;
    text-align: center; }
    .payHtml .modal-footer button {
      font-size: 1.6rem;
      margin-bottom: 19px; }
    .payHtml .modal-footer p {
      font-size: 1.1rem;
      font-weight: 400;
      color: #cbcbcb; }
      .payHtml .modal-footer p span {
        color: #73b2fd; }

.memberActive {
  width: 428px;
  height: 237px; }
  .memberActive .modal-header {
    height: 33px;
    padding: 0;
    text-align: right;
    border: none; }
    .memberActive .modal-header img {
      height: 33px;
      cursor: pointer; }
  .memberActive .modal-body {
    padding: 0;
    text-align: center; }
    .memberActive .modal-body img {
      margin: 7px 0 25px; }
    .memberActive .modal-body p {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1px;
      color: #545454; }
  .memberActive .modal-footer {
    padding: 0;
    border: none;
    text-align: center; }
    .memberActive .modal-footer button {
      width: 136px;
      height: 31px;
      margin: 12px 0 15px;
      padding: 0;
      font-size: 1.6rem;
      color: white;
      background: #73B2FD; }
    .memberActive .modal-footer p {
      font-size: 1.1rem;
      font-weight: 400;
      color: #cbcbcb; }
      .memberActive .modal-footer p span {
        color: #73b2fd; }

@media (max-width: 1230px) {
  .member main .main .price {
    float: none;
    margin-left: 0; } }
@media (max-width: 992px) {
  .member .sidebar, .member main {
    width: 100%; } }
@media (max-width: 768px) {
  .member main .main .price {
    width: 220px; }

  .member main .main {
    padding-left: 20px;
    padding-right: 20px; }

  .member main .main .alipay, .member main .main .wechatpay {
    margin-bottom: 10px; }

  .member main .main .pay-agreement a {
    line-height: 25px; }

  .member main .card input {
    width: 100%;
    max-width: 306px; }

  .member main .main .price-total {
    font-size: 3.2rem; }

  .member main .main .price-day {
    font-size: 1.5rem; }

  .member main .main .introduction {
    width: 100%; }
    .member main .main .introduction img {
      width: 100%; }

  .payHtml {
    width: 258px;
    height: 266px; } }

/*# sourceMappingURL=member.css.map */
