<div class="row pd-top-2">
    <div class="col-lg-12">
        <div class="form-group panel panel-default panel-body">
            <form class="form-horizontal ng-pristine ng-valid" role="form" name="ngForm" novalidate>
                <div class="form-group mr0-ml0">
                    <label class="col-md-1 col-xs-12 control-label">昵称</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="vm.searchParams.alias">
                    </div>

                    <picker label-class="col-md-1 col-xs-12 control-label" option-class="col-md-3" options="vm.userOptions.grade" ng-model="vm.searchParams.grade" select-name="年级"></picker>
                    <picker label-class="col-md-1 col-xs-12 control-label" option-class="col-md-3" options="vm.userOptions.status" ng-model="vm.searchParams.status" select-name="状态"></picker>
                </div>
                <div class="form-group mr0-ml0">
                    <label class="col-md-1 col-xs-12 control-label">手机号</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="vm.searchParams.mobile">
                    </div>

                    <label class="col-md-1 col-xs-12 control-label">邮箱</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="vm.searchParams.mail">
                    </div>

                    <label class="col-md-1 col-xs-12 control-label pd-right-0">所在区域</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="vm.searchParams.location">
                    </div>

                </div>
                <div class="form-group mr0-ml0">

                    <limit-section label-name="逆袭豆" start="vm.searchParams.scoreStart" end="vm.searchParams.scoreEnd"></limit-section>
                    <label class="col-md-1 col-xs-12 control-label">学校</label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="vm.searchParams.schoolId" ng-disabled="vm.isSchool">
                            <option ng-repeat="item in vm.schoolList" value="{{item.id}}" ng-bind="item.name" ng-selected="item.id==vm.searchParams.schoolId"></option>
                        </select>
                    </div>

                    <label class="col-md-1 col-xs-12 control-label">班级</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="vm.searchParams.className">
                    </div>
                </div>

                <div class="form-group mr0-ml0">
                    <picker label-class="col-md-1 col-xs-12 control-label" option-class="col-md-3" options="vm.memberOptions" ng-model="vm.searchParams.isMember" select-name="会员类型"></picker>
                </div>
                <div class="form-group mr0-ml0">


                    <div class="col-md-12 search-btn text-right">
                        <button type="button" class="btn btn-danger" ng-click="vm.rest()">清空</button>
                        <button type="button" class="btn btn-success" ng-click="vm.search()">搜索</button>
                    </div>

                </div>

            </form>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                用户管理（总人数{{vm.data.total}}人）
                <button class="btn btn-xs btn-danger pull-right" ui-sref="field.userListImport">批量注册+</button>
            </div>

            <div class="panel-body">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>昵称</th>
                            <th>邮箱</th>
                            <th>手机号</th>
                            <th>逆袭豆</th>
                            <th>年级</th>
                            <th>所在区域</th>
                            <th>会员类型</th>
                            <th>所在学校</th>
                            <th>班级</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in vm.userList">
                            <td ng-bind="$index+1"></td>
                            <td>{{user.alias}}</td>
                            <td>{{user.mail}}</td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.score}}</td>
                            <td ng-bind="user.grade|userFilter:'grade'"></td>
                            <td>{{user.location}}</td>
                            <td ng-bind="user.memberName"></td>
                            <td>{{user.schoolName}}</td>
                            <td>{{user.className}}</td>
                            <td ng-bind="user.status|userFilter:'status'"></td>
                            <td>
                                <button class="btn btn-default btn-xs" ui-sref="field.userDetail({id: user.id})">查看
                            </button>
                                <button class="btn btn-danger btn-xs" ng-click="vm.freeze(user.id,(user.status))" ng-bind="user.status|userFilter: 'changeStatus'" ng-class="{true: 'isSchool'}[vm.isSchool]" ng-disabled="school"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--分页-->
            <nav class="pull-right" ng-if="vm.totalPage">
                <page total-page="{{vm.totalPage}}"></page>
            </nav>
        </div>
    </div>
</div>